attrs==20.1.0
Automat==20.2.0
beautifulsoup4==4.9.1
cffi==1.14.2
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itemadapter==0.1.0
itemloaders==1.0.2
jmespath==0.10.0
lxml==4.6.3
parsel==1.6.0
pkg-resources==0.0.0
Protego==0.1.16
pycparser==2.20
PyHamcrest==2.0.2
queuelib==1.5.0
six==1.15.0
soupsieve==2.0.1
w3lib==1.22.0
zope.interface==5.1.0